

.cart{
    position: relative;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

.cart__icon-body{
    display: inline-block;
}
.cart__amount{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -6px;
    right: -5px;
    width: 23px;
    height: 23px;
    background-color: green;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.cart__icon {
    fill: #ffffff;
    width: 40px;
    height: 40px;
}
.cart__icon:hover {
    fill: #F2F2F2;
}

.cart__list{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-top: 20px;
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
}
.cart:hover .cart__list{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.cart__list-body{
    background-color: #fff;
}
.Cart__order{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.delete{
    width: 30px;
    height: 30px;
}
.delete:hover{
    background-color: red;
}
.delete{
    position: relative;
    width: 20px;
    height: 20px;
    padding: 20px;
}
.delete::after,
.delete::before{
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 50%;
}
.delete::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.delete::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.cart__total-order{
    background-color: #9c9c9c;
}